<!DOCTYPE html>

<html>
	<head>
		<title>ASAP Pilot Sign-Up Form: Completed!</title>

		<link rel="stylesheet" href="/static/ASAP/css/signup.css" type="text/css" />
		<link rel="shortcut icon" type="image/x-icon" href="/static/ASAP/images/favicon.ico">

		<script src="/static/ASAP/js/jquery-1.5.1.min.js" language="Javascript" type="text/javascript"></script>
		<script src="/static/ASAP/js/jquery.scrollTo-1.4.2-min.js" language="Javascript" type="text/javascript"></script>
		<script src="/static/ASAP/js/jquery-ui-1.8.10.custom.min.js" language="Javascript" type="text/javascript"></script>
		<script src="/static/ASAP/js/jquery.validate.js" language="Javascript" type="text/javascript"></script>

		<script src="/static/ASAP/js/signup.js" language="Javascript" type="text/javascript"></script>
	</head>

	<body>
		<div id="trunk">
			<div class="page_header">
				<b>A</b>dolescent & Young Adult <b>S</b>urvivorship <b>A</b>ction <b>P</b>lan
				<div style="font-size: smaller; padding: 5px; margin: 5px -10px -10px; background: #CEF826;">
				Text Messaging Study
				</div>
			</div>

			<div class="section" id="finished">
				<h2 class="complete"><b>Thank you!</b></h2>

				<div class="content">
					<p>
					Thanks, you've been successfully registered for the ASAP text messaging pilot. You
					should receive a text message from the system in a little while with instructions
					on how to start accomplishing your first goal.
					</p>

					<p>
					Again, if you have any questions or comments throughout the study, please contact
					our research office via email: <a href="mailto:UCLAsurvivorshipprog@mednet.ucla.edu">UCLAsurvivorshipprog@mednet.ucla.edu</a>
					or via phone at 310-794-2475.
					</p>

					<p style="text-align: center; margin-top: 50px; font-size: 18px; padding-left: 50px; padding-right: 50px;">
					<b>You may now close this browser window if you choose.</b>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>