{% extends "dashboard/details/generic.html" %}
{% load parse_json %}

{% block title %}Task Manager :: details :: {{ instance.name }}{% endblock %}
{% block header %}<img src="/static/taskmanager/icons/Appointment.png"  class="dialog_header_icon" />{{ instance.name }}{% endblock %}

{% block body %}
<div class="dialog_section overview_section">overview</div>

<table class="dialog_vertical" cellpadding="5" cellspacing="5" style="margin-bottom: 1em;">
	<tr><td class="dialog_label">process:</td><td>{{ instance.process }}</span></td></tr>
	<tr><td class="dialog_label">type:</td><td>{{ instance.task.name }}</td></tr>
	<tr><td class="dialog_label">mode:</td><td>{{ instance.mode }}</td></tr>
	<tr><td class="dialog_label">status:</td><td><span class="task_status {{ instance.get_status }}" style="display: inline-block; width: 60px;">{{ instance.get_status }}</span></td></tr>

	<tr><td class="dialog_label">scheduled for:</td><td>{{ instance.schedule_date|date }}, {{ instance.schedule_date|time }}</td></tr>

	{% if instance.ran_date %}
	<tr><td class="dialog_label">ran on:</td><td>{{ instance.ran_date|date }}, {{ instance.ran_date|time }}</td></tr>
	{% endif %}

	{% if instance.status == "completed" %}
		<tr><td class="dialog_label">completed on:</td><td>{{ instance.completed_date|date }}, {{ instance.completed_date|time }}</td></tr>
	{% else %}
		{% if instance.timeout_date %}
		<tr><td class="dialog_label">times out in:</td><td>{{ instance.timeout_date|timeuntil }}</td></tr>
		{% endif %}
	{% endif %}

	{% if instance.params %}
	<tr><td class="dialog_label" valign="top">arguments:</td><td>
		<div style="background: #eee; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;">
			<table cellpadding="5" cellspacing="0">
				{{ instance.params|parse_json|safe }}
			</table>
		</div>
	</td></tr>
	{% endif %}

	</tr>
</table>

<div class="dialog_section actions_section">actions</div>

<div style="padding: 5px;">
	<input id="remove_task_button" type="button" value="remove" />
	{% if instance.timeout_date %}
	<input id="timeout_task_button" type="button" value="timeout" />
	{% endif %}
	{% if instance.status == "pending" %}
	<input id="run_now_button" type="button" value="run task now" />
	{% endif %}
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#remove_task_button").click(function() {
		if (!confirm('Are you sure that you want to remove this task?'))
			return;

		$.ajax({
			type: 'POST',
			dataType: 'text',
			url: '/taskmanager/tasks/{{ instance.id }}/command/',
			data: {'command': 'remove'},
			success: function(data) {
				if (data == "REQUIRES_REFRESH")
					location.reload(true);
			}
		});
	});

	$("#timeout_task_button").click(function() {
		if (!confirm('Are you sure that you want to mark this task as timed out?'))
			return;

		$.ajax({
			type: 'POST',
			dataType: 'text',
			url: '/taskmanager/tasks/{{ instance.id }}/command/',
			data: {'command': 'timeout'},
			success: function(data) {
				if (data == "REQUIRES_REFRESH")
					location.reload(true);
			}
		});
	});

	$("#run_now_button").click(function() {
		if (!confirm('Are you sure that you want to schedule this task to run right now?'))
			return;

		$.ajax({
			type: 'POST',
			dataType: 'text',
			url: '/taskmanager/tasks/{{ instance.id }}/command/',
			data: {'command': 'run_now'},
			success: function(data) {
				if (data == "REQUIRES_REFRESH")
					location.reload(true);
			}
		});
	});
});
</script>
{% endblock %}